<footer class="primary-bg">
  <span class="col-4 text-start ps-2 font-contrast-color">
  {{ "FOOTER.OWNERSHIP" | translate }} {{year | date: 'yyyy'}}</span>
  <div class="col-4 text-center"
  ><span class="text-decoration-underline pointer font-contrast-color"
         (click)="onClickOpenDevInfoDialog()">{{ "FOOTER.DEVELOPED" | translate }}&nbsp;<i class="bi bi-box-arrow-up-left"></i></span></div>
  <span class="col-4 text-end pe-2 font-contrast-color">
  {{ "APP.NAME" | translate }}
    <img class="align-baseline" [src]="'public/images/avi-logo.png'" alt="No logo" height="16" width="16">&nbsp;
  </span>
</footer>
