@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons";

@import 'assets/scss/themes';
@import 'assets/scss/constants';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

// * Подсветка валидации форм
.ng-invalid[required], .ng-invalid.required {
  border-left: 4px solid $ng-invalid-border-color !important;
}
.ng-valid[required], .ng-valid.required {
  border-left: 4px solid $ng-valid-border-color !important;
}

// * Курсор руки
.cursor-pointer{
  cursor: pointer !important;
}
